
@{
    ViewBag.Title = "tries";
}

<h2>tries</h2>
<canvas id="can"></canvas>

<script>
    var canvas = document.getElementById("can"),
        ctx = canvas.getContext("2d");

    function DrawCicrle(color, position, size) {
        ctx.strokeStyle = color;
        ctx.beginPath();
        ctx.arc(position.x, position.y, size, 0, 2 * Math.PI);
    }

    var pos = {
        x: window.innerWidth / 2,
        y: window.innerHeight / 2.
    };

    DrawCicrle("blue", pos, 50);
    DrawCicrle("red", pos, 30);



</script>

